/*
  Material Design Colors
  (see https://www.materialpalette.com/colors).
 */

$col-red-50: #ffebee !default;
$col-red-100: #ffcdd2 !default;
$col-red-200: #ef9a9a !default;
$col-red-300: #e57373 !default;
$col-red-400: #ef5350 !default;
$col-red-500: #f44336 !default;
$col-red-600: #e53935 !default;
$col-red-700: #d32f2f !default;
$col-red-800: #c62828 !default;
$col-red-900: #b71c1c !default;
$col-red-a100: #ff8a80 !default;
$col-red-a200: #ff5252 !default;
$col-red-a400: #ff1744 !default;
$col-red-a700: #d50000 !default;

$col-pink-50: #fce4ec !default;
$col-pink-100: #f8bbd0 !default;
$col-pink-200: #f48fb1 !default;
$col-pink-300: #f06292 !default;
$col-pink-400: #ec407a !default;
$col-pink-500: #e91e63 !default;
$col-pink-600: #d81b60 !default;
$col-pink-700: #c2185b !default;
$col-pink-800: #ad1457 !default;
$col-pink-900: #880e4f !default;
$col-pink-a100: #ff80ab !default;
$col-pink-a200: #ff4081 !default;
$col-pink-a400: #f50057 !default;
$col-pink-a700: #c51162 !default;

$col-purple-50: #f3e5f5 !default;
$col-purple-100: #e1bee7 !default;
$col-purple-200: #ce93d8 !default;
$col-purple-300: #ba68c8 !default;
$col-purple-400: #ab47bc !default;
$col-purple-500: #9c27b0 !default;
$col-purple-600: #8e24aa !default;
$col-purple-700: #7b1fa2 !default;
$col-purple-800: #6a1b9a !default;
$col-purple-900: #4a148c !default;
$col-purple-a100: #ea80fc !default;
$col-purple-a200: #e040fb !default;
$col-purple-a400: #d500f9 !default;
$col-purple-a700: #aa00ff !default;

$col-deep-purple-50: #ede7f6 !default;
$col-deep-purple-100: #d1c4e9 !default;
$col-deep-purple-200: #b39ddb !default;
$col-deep-purple-300: #9575cd !default;
$col-deep-purple-400: #7e57c2 !default;
$col-deep-purple-500: #673ab7 !default;
$col-deep-purple-600: #5e35b1 !default;
$col-deep-purple-700: #512da8 !default;
$col-deep-purple-800: #4527a0 !default;
$col-deep-purple-900: #311b92 !default;
$col-deep-purple-a100: #b388ff !default;
$col-deep-purple-a200: #7c4dff !default;
$col-deep-purple-a400: #651fff !default;
$col-deep-purple-a700: #6200ea !default;

$col-indigo-50: #e8eaf6 !default;
$col-indigo-100: #c5cae9 !default;
$col-indigo-200: #9fa8da !default;
$col-indigo-300: #7986cb !default;
$col-indigo-400: #5c6bc0 !default;
$col-indigo-500: #3f51b5 !default;
$col-indigo-600: #3949ab !default;
$col-indigo-700: #303f9f !default;
$col-indigo-800: #283593 !default;
$col-indigo-900: #1a237e !default;
$col-indigo-a100: #8c9eff !default;
$col-indigo-a200: #536dfe !default;
$col-indigo-a400: #3d5afe !default;
$col-indigo-a700: #304ffe !default;

$col-blue-50: #e3f2fd !default;
$col-blue-100: #bbdefb !default;
$col-blue-200: #90caf9 !default;
$col-blue-300: #64b5f6 !default;
$col-blue-400: #42a5f5 !default;
$col-blue-500: #2196f3 !default;
$col-blue-600: #1e88e5 !default;
$col-blue-700: #1976d2 !default;
$col-blue-800: #1565c0 !default;
$col-blue-900: #0d47a1 !default;
$col-blue-a100: #82b1ff !default;
$col-blue-a200: #448aff !default;
$col-blue-a400: #2979ff !default;
$col-blue-a700: #2962ff !default;

$col-light-blue-50: #e1f5fe !default;
$col-light-blue-100: #b3e5fc !default;
$col-light-blue-200: #81d4fa !default;
$col-light-blue-300: #4fc3f7 !default;
$col-light-blue-400: #29b6f6 !default;
$col-light-blue-500: #03a9f4 !default;
$col-light-blue-600: #039be5 !default;
$col-light-blue-700: #0288d1 !default;
$col-light-blue-800: #0277bd !default;
$col-light-blue-900: #01579b !default;
$col-light-blue-a100: #80d8ff !default;
$col-light-blue-a200: #40c4ff !default;
$col-light-blue-a400: #00b0ff !default;
$col-light-blue-a700: #0091ea !default;

$col-cyan-50: #e0f7fa !default;
$col-cyan-100: #b2ebf2 !default;
$col-cyan-200: #80deea !default;
$col-cyan-300: #4dd0e1 !default;
$col-cyan-400: #26c6da !default;
$col-cyan-500: #00bcd4 !default;
$col-cyan-600: #00acc1 !default;
$col-cyan-700: #0097a7 !default;
$col-cyan-800: #00838f !default;
$col-cyan-900: #006064 !default;
$col-cyan-a100: #84ffff !default;
$col-cyan-a200: #18ffff !default;
$col-cyan-a400: #00e5ff !default;
$col-cyan-a700: #00b8d4 !default;

$col-teal-50: #e0f2f1 !default;
$col-teal-100: #b2dfdb !default;
$col-teal-200: #80cbc4 !default;
$col-teal-300: #4db6ac !default;
$col-teal-400: #26a69a !default;
$col-teal-500: #009688 !default;
$col-teal-600: #00897b !default;
$col-teal-700: #00796b !default;
$col-teal-800: #00695c !default;
$col-teal-900: #004d40 !default;
$col-teal-a100: #a7ffeb !default;
$col-teal-a200: #64ffda !default;
$col-teal-a400: #1de9b6 !default;
$col-teal-a700: #00bfa5 !default;

$col-green-50: #e8f5e9 !default;
$col-green-100: #c8e6c9 !default;
$col-green-200: #a5d6a7 !default;
$col-green-300: #81c784 !default;
$col-green-400: #66bb6a !default;
$col-green-500: #4caf50 !default;
$col-green-600: #43a047 !default;
$col-green-700: #388e3c !default;
$col-green-800: #2e7d32 !default;
$col-green-900: #1b5e20 !default;
$col-green-a100: #b9f6ca !default;
$col-green-a200: #69f0ae !default;
$col-green-a400: #00e676 !default;
$col-green-a700: #00c853 !default;

$col-light-green-50: #f1f8e9 !default;
$col-light-green-100: #dcedc8 !default;
$col-light-green-200: #c5e1a5 !default;
$col-light-green-300: #aed581 !default;
$col-light-green-400: #9ccc65 !default;
$col-light-green-500: #8bc34a !default;
$col-light-green-600: #7cb342 !default;
$col-light-green-700: #689f38 !default;
$col-light-green-800: #558b2f !default;
$col-light-green-900: #33691e !default;
$col-light-green-a100: #ccff90 !default;
$col-light-green-a200: #b2ff59 !default;
$col-light-green-a400: #76ff03 !default;
$col-light-green-a700: #64dd17 !default;

$col-lime-50: #f9fbe7 !default;
$col-lime-100: #f0f4c3 !default;
$col-lime-200: #e6ee9c !default;
$col-lime-300: #dce775 !default;
$col-lime-400: #d4e157 !default;
$col-lime-500: #cddc39 !default;
$col-lime-600: #c0ca33 !default;
$col-lime-700: #afb42b !default;
$col-lime-800: #9e9d24 !default;
$col-lime-900: #827717 !default;
$col-lime-a100: #f4ff81 !default;
$col-lime-a200: #eeff41 !default;
$col-lime-a400: #c6ff00 !default;
$col-lime-a700: #aeea00 !default;

$col-yellow-50: #fffde7 !default;
$col-yellow-100: #fff9c4 !default;
$col-yellow-200: #fff59d !default;
$col-yellow-300: #fff176 !default;
$col-yellow-400: #ffee58 !default;
$col-yellow-500: #ffeb3b !default;
$col-yellow-600: #fdd835 !default;
$col-yellow-700: #fbc02d !default;
$col-yellow-800: #f9a825 !default;
$col-yellow-900: #f57f17 !default;
$col-yellow-a100: #ffff8d !default;
$col-yellow-a200: #ffff00 !default;
$col-yellow-a400: #ffea00 !default;
$col-yellow-a700: #ffd600 !default;

$col-amber-50: #fff8e1 !default;
$col-amber-100: #ffecb3 !default;
$col-amber-200: #ffe082 !default;
$col-amber-300: #ffd54f !default;
$col-amber-400: #ffca28 !default;
$col-amber-500: #ffc107 !default;
$col-amber-600: #ffb300 !default;
$col-amber-700: #ffa000 !default;
$col-amber-800: #ff8f00 !default;
$col-amber-900: #ff6f00 !default;
$col-amber-a100: #ffe57f !default;
$col-amber-a200: #ffd740 !default;
$col-amber-a400: #ffc400 !default;
$col-amber-a700: #ffab00 !default;

$col-orange-50: #fff3e0 !default;
$col-orange-100: #ffe0b2 !default;
$col-orange-200: #ffcc80 !default;
$col-orange-300: #ffb74d !default;
$col-orange-400: #ffa726 !default;
$col-orange-500: #ff9800 !default;
$col-orange-600: #fb8c00 !default;
$col-orange-700: #f57c00 !default;
$col-orange-800: #ef6c00 !default;
$col-orange-900: #e65100 !default;
$col-orange-a100: #ffd180 !default;
$col-orange-a200: #ffab40 !default;
$col-orange-a400: #ff9100 !default;
$col-orange-a700: #ff6d00 !default;

$col-deep-orange-50: #fbe9e7 !default;
$col-deep-orange-100: #ffccbc !default;
$col-deep-orange-200: #ffab91 !default;
$col-deep-orange-300: #ff8a65 !default;
$col-deep-orange-400: #ff7043 !default;
$col-deep-orange-500: #ff5722 !default;
$col-deep-orange-600: #f4511e !default;
$col-deep-orange-700: #e64a19 !default;
$col-deep-orange-800: #d84315 !default;
$col-deep-orange-900: #bf360c !default;
$col-deep-orange-a100: #ff9e80 !default;
$col-deep-orange-a200: #ff6e40 !default;
$col-deep-orange-a400: #ff3d00 !default;
$col-deep-orange-a700: #dd2c00 !default;

$col-brown-50: #efebe9 !default;
$col-brown-100: #d7ccc8 !default;
$col-brown-200: #bcaaa4 !default;
$col-brown-300: #a1887f !default;
$col-brown-400: #8d6e63 !default;
$col-brown-500: #795548 !default;
$col-brown-600: #6d4c41 !default;
$col-brown-700: #5d4037 !default;
$col-brown-800: #4e342e !default;
$col-brown-900: #3e2723 !default;

$col-grey-50: #fafafa !default;
$col-grey-100: #f5f5f5 !default;
$col-grey-200: #eeeeee !default;
$col-grey-300: #e0e0e0 !default;
$col-grey-400: #bdbdbd !default;
$col-grey-500: #9e9e9e !default;
$col-grey-600: #757575 !default;
$col-grey-700: #616161 !default;
$col-grey-800: #424242 !default;
$col-grey-900: #212121 !default;

$col-blue-grey-50: #eceff1 !default;
$col-blue-grey-100: #cfd8dc !default;
$col-blue-grey-200: #b0bec5 !default;
$col-blue-grey-300: #90a4ae !default;
$col-blue-grey-400: #78909c !default;
$col-blue-grey-500: #607d8b !default;
$col-blue-grey-600: #546e7a !default;
$col-blue-grey-700: #455a64 !default;
$col-blue-grey-800: #37474f !default;
$col-blue-grey-900: #263238 !default;