// Various Assets
@import 'functions';
@import 'colors';

// Load App Variables
@import '../../../../../../resources/sass/variables';

// Set Bootstrap Font Variables
$font-family-sans-serif: $body-font, 'Helvetica', 'Arial', sans-serif !default;
$headings-font-family: $header-font, 'Times New Roman', serif !default;
$font-family-serif: $headings-font-family;
// @import url('https://fonts.googleapis.com/css?family=#{str-replace($body-font,' ','+')}:300,400,500,700|#{str-replace($header-font,' ','+')}:400,700&display=swap');

// Set Bootstrap Color Variables
$primary: $color-primary !default;
$primary-light: $color-primary-light !default;
$primary-dark: $color-primary-dark !default;
$secondary: $color-secondary !default;
$secondary-light: $color-secondary-light !default;
$secondary-dark: $color-secondary-dark !default;
$light: $primary-light;
$dark: $primary-dark;
$body-color: map-get($color-palette-grey, 900) !default;
$text-muted: map-get($color-palette-grey, 600) !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #f5593d !default;

// Set Bootstrap Theme Colors
$theme-colors: () !default;
$theme-colors: map-merge(
        (
            "primary": $primary,
            "primary-light": $primary-light,
            "primary-dark": $primary-dark,
            "secondary": $secondary,
            "secondary-light": $secondary-light,
            "secondary-dark": $secondary-dark,
            "success": $success,
            "info": $info,
            "warning": $warning,
            "danger": $danger,
            "light": $light,
            "dark": $dark,
        ),
        $theme-colors
);
