// general setup
@import 'setup';

// paper-kit-2 color variables
$primary-color:              $primary !default;
$secondary-color:            $secondary !default;
$secondary-states-color:     darken($secondary-color, 10%) !default;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// paper-kit-2 import
@import '../../../../../../resources/paper-kit-2/assets/scss/paper-kit';

// own ui-kit
@import 'ui-kit/ui-kit';

[data-trigger="hover"] {
    cursor: help;
}

[data-trigger="click"] {
    cursor: pointer;
}
